<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mb-3 mt-3">
      <img class="burger"src="/assets/img/burger.png" />
      <h1>EAT-DA-BURGER!</h1>
    </div>
  </div>

  
 {{!-- Takes in the burger name input when the submit button is clicked --}}
    <div class="row m-3">
      <div class="col-md-6">
        {{#each burgers}}
        {{#unless devoured}}
        <div class="input-group">
          <li class="form-control">{{id}}: {{burger_name}}</li>
          <span class="input-group-btn">
            <button class="btn btn-dark devour-btn devour " data-id="{{id}} " type="button" data-toggle="button" aria-pressed="false">Devour!</button>
          </span>
        </div>
        {{/unless}}
        {{/each}}
      </div>
      {{!-- When the devoured button is clicked, burgers populate here --}}
      <div class="col-md-6">
        {{#each burgers}}
        {{#if devoured}}
          <div class="input-group">
            <li class="form-control">{{id}}: {{burger_name}}</li>
           
          </div>
        {{/if}}
        {{/each}}
      </div>

    </div>
  
  <div class="row">
    <form class="create-form mx-auto" action="/api/burgers" method="post">
      <div class="form-group text-center">
        <label for="burgerInput">Place your order!</label>
        <input type="text" name="burger_name" class="form-control" id="burgerInput">
      </div>
      <button type="submit" class="btn btn-dark mx-auto w-100" data-toggle="button" aria-pressed="false">Submit</button>
    </form>
  </div>

</div>